/* .main-wrapper {
    border: 1px solid red;
}

header{
    border: 1px solid blue;
} */

.page_fixed {
    max-height: 100vh;
}

.main-wrapper {
    width: 100%;
    max-width: calc(100% - 280px);
    position: absolute;
    overflow: hidden;
    right: 0;
    visibility: hidden;
}

.animated-sections {
    height: 100%;
    position: relative;
}

.section-active {
    visibility: visible;
    z-index: 2;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--header-background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}