/* .page {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.main-wrapper {
    position: absolute;
    transition: .5s, background-color 0s;
    /* top: 0; */
    left: 0;
    right: 0;
    border: 1px solid red;
    /* width: 100%; */
    /* display: block; */
    
    /* overflow: hidden; */
    /* position: fixed; */
    /* transition-delay: 0.4s; */
}

header{
    border: 1px solid blue;
}

/* #page_aboutme, #page_job, #page_resume, #page_blog, #page_contact { */
.page_fixed {
    position: fixed;
    /* transition: none; */
    /* max-width: 100vh; */
}

#page_job, #page_resume, #page_blog, #page_contact {
    transform: translateX(100%);
    /* transition: none; */
    /* position: fixed; */
    /* max-width: 100vh; */
    
    
}

#job:target #page_job, #resume:target #page_resume, #blog:target #page_blog, #contact:target #page_contact {
    transform: translateX(0%);
    /* transform: translatey(0%); */
    /* transition-delay: 0.4s; */
    /* top: 0; */
    /* transition: transform .5s; */
    /* position: absolute; */
}



#job:target #page_aboutme, #resume:target #page_aboutme, #blog:target #page_aboutme, #contact:target #page_aboutme {
    overflow: hidden;
    max-height: 100vh;
    /* width: 100%; */
    transform: translateX(100%);
    /* position: fixed; */
    /* position: absolute; */
    /* top: 0px; */

}


/*
#job:target .aboutme_page, #job:target .job_page, #job:target .resume_page, #job:target .blog_page, #job:target .contact_page {
    overflow: hidden;
    max-height: 100vh;
    transform: translateX(100%);
    position: fixed;
}
*/





/*
#job:target .page#page_job .wrap, #resume:target .page#page_resume .wrap, #blog:target .page#page_blog .wrap, #contact:target .page#page_contact .wrap {
    transform: translateX(0);
    transition-delay: 1s;
}
*/
