/* Variables */
:root{
    --header-background-color: #F2F2F2;
    --font-header-color-hex: #2D3D49;
    --font-header-color-rgv: rgba(45, 61, 73);
    --font-header-color-rgva: rgba(45, 61, 73, 0.6);
    --hr-color: rgba(45, 61, 73, 0.08);
    --section-color-light: #fafafa;

    --special-dark-colour: /*#35B7FF*/ #6171D9 /*#969696*/ /*#BB85FD*/ /*#A9A9A9*/;
    --special-dark-colour-osc: #4C5FD4;/*rgba(97, 113, 217, 0.8)*/
}

/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

body::-webkit-scrollbar {
    width: 10px;
    /* background-color: var(--header-background-color); */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4f4f4f;
}

h1, h2, h3, h4, h5, h6 {
    color: #292929;
    font-weight: bold;
}

hr {
    border-color: var(--hr-color);
}

.btn {
    font-weight: bold;
    padding: .375rem 1rem;
    height: 2.5rem;
    transition: all 0.4s ease-in-out;
    font-size: 1rem
}

.btn-primary {
    color: #fff
}

/*Start Header*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: var(--header-background-color);
    /* color: rgba(255, 255, 255, 0); */
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) var(--header-background-color);
    scrollbar-width: thin;
    /* display: flex; */
}

.header::-webkit-scrollbar {
    width: 6px;
    /* background-color: var(--header-background-color); */
}

.header::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.header::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header .collapse_nav{
    overflow-y: auto;
    /* padding-bottom: 100px; */
}

.header .collapse_nav::-webkit-scrollbar {
    width: 6px;
    /* background-color: var(--header-background-color); */
}

.header .collapse_nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.header .collapse_nav::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    /* color: #fff */
}

.header .blog-name a {
    color: var(--font-header-color-hex);
}

.header .blog-name a:hover {
    text-decoration: none;
}

.header .navbar {
    padding: 1.5rem 1rem;
}

.header .navbar-toggler:focus {
    outline: none;
}

.header .navbar-dark .navbar-toggler {
    border-radius: 2px;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    /* border: 1px solid var(--font-header-color-hex); */
    /* padding: .25rem .6rem; */
}

.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.header .navbar-dark .navbar-toggler {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    color: var(--font-header-color-hex);
    background-color: #fff;
    font-size: 1.5rem;
}

.header .nav-item {
    font-weight: bold;
}

.header .nav-item.active .nav-link {
    color: var(--font-header-color-hex);
}

.header .nav-item.active .nav-link:hover {
    text-decoration: none;
}

.header .nav-item .nav-link {
    color: var(--font-header-color-rgva);
    transition: .5s;
}

.header .nav-item .nav-link:hover {
    color: var(--font-header-color-rgv);
}

.section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 1.5rem
}

.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    /* background: var(--special-dark-colour-osc); */
    background: var(--font-header-color-rgva);
    position: absolute;
    left: 0;
    top: 0
}

/*
.header .nav-item .nav-link[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.5);
}
*/

/*
.header .nav-item .dropdown-menu {
    position: static;
    background: #48a97c;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}*/
/*
.header .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
    padding: 0.5rem;
    font-size: 0.875rem;
    padding-left: 2.25rem;
    font-weight: bold;
}
*/
/*
.header .nav-item .dropdown-menu .dropdown-item:hover, .header .nav-item .dropdown-menu .dropdown-item:active, .header .nav-item .dropdown-menu .dropdown-item:focus, .header .nav-item .dropdown-menu .dropdown-item.active {
    background: #40976f;
}
*/

/*
.profile-section .bio {
    font-size: 0.875rem
}

.profile-section .bio a {
    color: #fff;
    text-decoration: underline
}

.profile-section .bio a:hover {
    color: rgba(0, 0, 0, 0.6)
}
*/

/*End Header*/

/*Start NavBar Background*/
.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index:1;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}

.navbarname{
    visibility: hidden;
    position: fixed;
}

.nav--open .navbarname{
    visibility: visible;
    /* position: fixed; */
}

.header .navbarnameorg {
    visibility: none !important;
}
/*End NavBar Background*/

/*Start Bio*/
.profile-section .profile-image {
    max-width: 160px;
}

.profile-section .bio {
    font-size: 0.875rem;
    color: var(--font-header-color-hex);
}

.profile-section .bio a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.profile-section .bio a:hover {
    color: rgba(0, 0, 0, 0.6);
}
/*End Bio*/

/*Start Social Network*/
.social-list a {
    width: 30px;
    height: 30px;
    color: var(--font-header-color-hex);
    padding-top: 4px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}

.social-list a:hover {
    color: var(--header-background-color);
    background-color: rgba(45, 61, 73, 0.7);
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
/*End Social Network*/

/* Start Hide CheckBox */
.toggle,.toggle-lang {
	opacity: 0;
	position: absolute;
}
/* End Hide CheckBox */

/*Start CheckBox DarkMode*/
.dark-mode-toggle .label-darkmode, .dark-mode-toggle .label-langmode {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	/* display: flex; */
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1);
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
}

.dark-mode-toggle .label-darkmode {
	padding: 1px;
}

.dark-mode-toggle .label-darkmode .ball-darkmode, .dark-mode-toggle .label-langmode .ball-langmode{
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle:checked + .label-darkmode .ball-darkmode, .toggle-lang:checked + .label-langmode .ball-langmode{
	transform: translateX(24px);
}

.label-darkmode .fa-moon {
	color: #f1c40f;
}

.label-darkmode .fa-sun {
	color: #f39c12;
}

.label-langmode .spanish {
	color: var(--header-background-color);
}

.label-langmode .english {
	color: var(--header-background-color);
}
/*End CheckBox DarkMode*/

/*Start About-me-section*/
.main-wrapper {
    margin-left: 280px;
    background: #fff;
}

.theme-bg-light {
    background: var(--section-color-light) !important
}

.main-wrapper .container-single-col {
    max-width: 820px;
}

.profile-teaser .name {
    font-size: 3rem;
}

.profile-teaser .tagline {
    font-size: 1.5rem;
    font-weight: 300;
}

.media-body .btn-primary{
    /* background: var(--special-dark-colour-osc); */
    background: var(--font-header-color-rgv);
    border-color: transparent;
}

.media-body .btn-primary:hover {
    /* background: var(--special-dark-colour); */
    background: var(--font-header-color-rgva);
    border-color: transparent;
}

.profile-teaser .profile-image {
    max-width: 400px;
}

.navButton {
    z-index:1;
}

ul.main_skills {
    /* border: solid 2px skyblue; */
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
  }

  ul.main_skills li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
  }

  ul.main_skills li:before {
    content: '\f138';
    font-family: FontAwesome;
    position: absolute;
    left : 1em;
    color: var(--font-header-color-hex);
  }

.overview-section .item-title {
    font-size: 1.2rem
}

.filters {
    list-style: none;
    font-size: 0.875rem
}

.filters .type {
    display: inline-block;
    padding: 0.275rem 0.25rem;
    cursor: pointer;
    margin-right: 2rem;
    color: var(--font-header-color-rgva);
    font-weight: bold;
    /* transition: 0.5s; */
}

.filters .type:last-child {
    margin-right: 0
}

.filters .type.active {
    border-top: 2px solid var(--font-header-color-hex);
    color: var(--font-header-color-hex);
    font-weight: bold
}

.filters .type.active:hover {
    border-top: 2px solid var(--font-header-color-hex)
}

.filters .type:hover {
    color: var(--font-header-color-hex)
}

.project-cards .card-img-holder {
    max-height: 200px;
    overflow: hidden;
    vertical-align: middle;
}

.project-cards .card-img-holder .Dark {
    display: none;
}

/* Start 8 Rows */
.col-try-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .col-sm-2 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}
/* End 8 Rows */

/****************************************************/

.coding-carousel-container .tns-nav {
    display: block;
    margin-top: 1rem;
    text-align: center;
    width: 100%
}

.coding-carousel-container .tns-nav button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.2);
    border: 0
}

.coding-carousel-container .tns-nav button.tns-nav-active {
    background: #292929
}

.coding-carousel .item-inner {
    padding: 0.5rem;
    /* padding-left: 3rem; */
    border: 1px solid rgba(0, 0, 0, 0.025);
    background: #fafafa;
    height: 100%;
    /* position: relative */
}

/* .testimonial-carousel .item-inner:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #54B689 transparent transparent transparent;
    -webkit-transform: rotate(360deg)
} */

.coding-carousel .source-profile img {
    max-width: 65px;
    margin:auto;
    display:block;
    /* border-radius: 50% */
}

/* .testimonial-carousel .fa-quote-left {
    position: absolute;
    left: 0.35rem;
    top: 0.3rem;
    color: #fff;
    font-size: 0.75rem
} */

/* .coding-carousel .source-holder {
    position: relative;
    padding-left: 76px;
    height: 60px
} */

.coding-carousel .name {
    text-align: center;
}

/* .coding-carousel .source-holder .source-profile {
    position: relative;
    padding: 15px;
    text-align: center;
    left: 0;
    top: 0
} */

/* .coding-carousel .source-holder .meta {
    padding-top: .5rem
} */

/* .testimonial-carousel .fa-quote-left {
    position: absolute;
    left: 0.35rem;
    top: 0.3rem;
    color: #fff;
    font-size: 0.75rem
} */

.coding-carousel-container .source-profile .Dark {
    display: none;
}


/******************************************/
/* .frame { */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* width: 400px;
    height: 400px;
    margin-top: -200px; */
    /* margin-left: -200px; */
    /* border-radius: 3px; */
    /* box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6); */
    /* overflow: hidden; */
    /* background: #413951; */
    /* background: linear-gradient(145deg, #413951 0%, #201c29 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#413951', endColorstr='#201c29',GradientType=0 ); */
    /* color: #fff; */
    /* font-family: 'montserrat', Helvetica, sans-serif; */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
  /* } */

/*
.headline {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  } */

  .circle-big {
    position: relative;
    width: 148px;
    height: 148px;
    margin: 0px auto 0px auto;
  }

  .circle-big svg {
    width: 148px;
    height: 148px;
  }

  .circle-big .bg {
    fill: none;
    stroke-width: 7px;
    stroke: var(--header-background-color);
  }

  .circle-big .progress {
    fill: none;
    stroke-width: 7px;
    stroke: #9a0fe0;
    stroke-linecap: round;
    stroke-dasharray: 439.824;/*radio*2*pi*/
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .circle-big .text_porc {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .circle-big .text_desc{
    text-align: center;
    /* margin: 0px 0px 0px 0px; */
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.esp .circle-big .progress {
    stroke-dashoffset: 0;/*dasharray - percent/100 * dasharray*/
    animation: big_esp 1.5s ease-in-out;
  }

.eng .circle-big .progress {
    stroke-dashoffset: 109.965;/*dasharray - percent/100 * dasharray*/
    animation: big_eng 1.5s ease-in-out;
  }

  .br .circle-big .progress {
    stroke-dashoffset: 65.9736;/*dasharray - percent/100 * dasharray*/
    animation: big_br 1.5s ease-in-out;
  }

@keyframes big_esp {
    from {
      stroke-dashoffset: 439.824;
    }
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes big_eng {
    from {
      stroke-dashoffset: 439.824;
    }
    to {
      stroke-dashoffset: 109.965;
    }
}

@keyframes big_br {
    from {
      stroke-dashoffset: 439.824;
    }
    to {
      stroke-dashoffset: 65.9736;
    }
}

.testiomonial-carousel-container .tns-nav {
    display: block;
    margin-top: 1rem;
    text-align: center;
    width: 100%
}

.testiomonial-carousel-container .tns-nav button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.2);
    border: 0
}

.testiomonial-carousel-container .tns-nav button.tns-nav-active {
    background: #292929
}

.testimonial-carousel .item-inner {
    padding: 1.5rem;
    padding-left: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    background: #fafafa;
    height: 100%;
    position: relative
}
/*
.testimonial-carousel .source-profile img {
    width: 60px;
    border-radius: 50%
}
*/
.testimonial-carousel .source-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.testimonial-carousel .source-profile img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testimonial-carousel .source-holder {
    position: relative;
    padding-left: 76px;
    height: 60px
}

.testimonial-carousel .source-holder .source-profile {
    position: absolute;
    left: 0;
    top: 0
}

.meta {
    color: #8f8f8f;
    font-size: 0.8125rem
}

.testimonial-carousel .source-holder .socials a {
    color: #8f8f8f;
}

.testimonial-carousel .source-holder .socials a:hover {
    color: var(--font-header-color-rgv);
}